/* General settings for the whole page */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Sedgwick+Ave+Display&display=swap");

:root {
  --color1: #191717;
  --color2: #7D7C7C;
  --color3: #CCC8AA;
  --color4: #F1EFEF;
  --subhead: 2.2em;
}

body {
  background: var(--color4);
}

* {
  box-sizing: content-box;
  color: #000;
  margin: 0;
  padding: 0;
}

/* The header part and the navigation menu */

nav {
  position: sticky;
  background-color: var(--color4);
  top: 0;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  font-family: "Abel", sans-serif;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--color2);
}

nav > h1 {
  display: none;
  font-size: 2em;
  padding: 1em;
  text-align: center;
  color: var(--color1);
}

nav a:hover {
  color: var(--color1);
  cursor: pointer;
}

.paint-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50em;
  transform: translate(-50%, -50%);
  mix-blend-mode: darken;
}

header {
  position: relative;
  padding: 15em 0;
  margin-top: 5em;
  text-align: center;
}

header h1 {
  font-family: "Sedgwick Ave Display", cursive;
  color: var(--color1);
  font-size: 6em;
  height: fit-content;
}

header h3 {
  font-family: "Marck Script", cursive;
  font-size: 1.5em;
  color: var(--color1);
}

/* About */

article {
  padding: 15em 0;
  width: 65%;
  margin: auto;
  font-family: "Abel", sans-serif;
}

article h2 {
  font-size: var(--subhead);
  color: var(--color1);
}
article p {
  font-size: 1.3em;
  padding: 1.5em 0 0 0;
  color: var(--color2);
  line-height: 1.5em;
}

article div {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  float: right;
  background-image: url("images/profile.jpg");
  background-size: cover;
}

/* gallery part */
.gallery {
  margin: 15em auto 0  auto;
  font-family: "Abel", sans-serif;
  padding: 5em;
  width: 80%;
}
.gallery img {
  display: block;
  max-width: 300px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.gallery h2 {
  font-size: var(--subhead);
  color: var(--color1);
}

.grid {
  padding: 1em 0;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.grid img {
  margin-bottom: 1em;
  width: 100% !important;
}

.gallery .btn {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 2em;
  margin-top: 2em;
  text-decoration: none;
  color: var(--color2);
}
.gallery .btn:hover {
  color: var(--color1);
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .grid {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
/* footer part */
footer {
  padding: 1.5em;
  background-color: var(--color1);
  font-family: "Abel", sans-serif;
}
footer h2 {
  color: var(--color4);
  text-align: center;
}
footer i {
  display: inline-block;
  margin: 0 0.32em;
}
footer i,
footer cite {
  color: var(--color3);
}
.icons {
  text-align: center;
  margin: 1.5em 0;
}
.email {
  margin: 0px;
  text-align: center;
}
