body{
    margin: 0px;
    background-color: cornsilk;
}
.menu-btn{
    display: none;
}
.menu ul{
    margin: 0px;
    background-color: #000000;
    list-style-type: none;
    text-align: center;
    height: 43px;
}
.menu li{
    display: inline-block;
    margin-top: 10px;
}
.menu a{
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
}
.menu a:link, .menu a:visited{
    color: #eee8b1;
}
.menu a:hover, .menu a:active{
    color: whitesmoke;
    background-color: #2b2b2b;
    cursor: pointer;
}
#current{
    background-color: red;
    color: white;
}

@media (max-width: 650px){
    .menu-btn{
        display: inline;
        background-color: black;
        color: #eee8b1;
        cursor: pointer;
        height: 50px;
        width: 100px;
        margin: 0px;
    }
    .menu{
        background-color: black;
    }
    .menu ul{
        margin: 0px;
        list-style-type: none;
        text-align: center;
        display: none;
        height: 100%;
    }
    .menu a{
        padding: 15px;
        text-decoration: none;
        font-size: 16px;
    }
    .menu a:link, .menu a:visited{
        color: #eee8b1;
    }
    .menu a:hover, .menu a:active{
        color: whitesmoke;
        background-color: #1b1b1b;
        cursor: pointer;
    }
    #current{
        background-color: red;
        color: white;
    }
    .menu-btn:hover ul{
        display: block;
    }
    .menu li{
        min-height: 50px;
        display: block;
    }
    
}
